{% extends 'admin/dashboard.html' %}

{% block body %}
<section>
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <form method="post" action="." enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="form-outline mb-8">
                                    <input id="name" name="name" type="text" id="form3Example1cg"
                                        class="form-control form-control-lg" placeholder="enter name" />
                                    <br />
                                </div>

                                <div class="form-outline mb-8">
                                    <input id="email" name="email" type="email" id="form3Example3cg"
                                        class="form-control form-control-lg" placeholder="enter email" />
                                    <br />
                                </div>

                                <div class="form-outline mb-8">
                                    <input id="password" name="password" type="password" id="form3Example4cg"
                                        class="form-control form-control-lg" placeholder="enter password" />
                                    <br />
                                </div>

                                <div class="form-outline mb-8">

                                    <select name="type" id="type" class="form-control form-control-lg">
                                        <option value="student">Student</option>
                                        <option value="teacher">Teacher</option>
                                    </select>
                                    <br />
                                </div>



                                <div class="form-outline mb-8">
                                    <input id="contact" name="contact" type="text" id="form3Example4cg"
                                        class="form-control form-control-lg" placeholder="eneter contact no" />
                                    <br />
                                </div>

                                <div class="form-outline mb-8">
                                    <input id="address" name="address" type="address" id="form3Example4cdg"
                                        class="form-control form-control-lg" placeholder="enter address" />
                                    <br />
                                </div>


                                <div class="form-outline mb-8">
                                    <input type="file" id="image" name="image">
                                    <br />
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Add</button>
                                    <br />
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}